@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;1,600&display=swap');
:root{
  /* COLOR */
  --primary-color : rgb(14, 58, 14);
  --secondary-color : rgb(224, 151, 14);
  --tertiary-color : rgb(217, 252, 217);


  --white : white;

}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}


body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


section{
  height: 100vh;
  width: 100%;
  position: relative;
}

input,
textarea{
  width: 100%;
  border: none;
  outline: none;
  border: 1px solid var(--primary-color);
  height: 50px;
  padding: 10px 15px;
  border-radius: 10px;
}

textarea{
  height: 120px;
}

input:focus-within,
textarea:focus-within{
  border: 3px solid var(--primary-color);
}